body {
  background: #f0f0f0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: Arial, sans-serif;
}

.card {
  background: white;
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.profile-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.skills {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.skills span {
  background: black;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 14px;
}

button {
  padding: 10px 20px;
  border: none;
  background: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #333;
}
