body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 5px;
  height: 10px;
  background: black;
}

.logo {
  color: white;
  font-size: 10px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 8px;
}

.nav-links li a:hover {
  color: #dddddd;
}

/* Responsive for small devices */

@media (max-width: 600px) {
  .nav-links {
    flex-direction: column;
    gap: 10px;
    background: #111;
    padding: 10px;
    border-radius: 10px;
  }
    
}
